
@{
    ViewBag.Title = "MappingSucceed";
}

<h2>Mapping Of The User To The Role Is Done Successfully.</h2>
<br />
<br />
<br />

<div>
    @Html.ActionLink("Go Back", "GetUsersToAssign", "Home")
</div>

